<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mytestapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTestApplication">
        <activity android:name=".purchaseList.SelectSheetTables"></activity>
        <activity android:name=".purchaseList.SelectSheetListViews" />
        <activity android:name=".purchaseList.SelectSheetProducts" />
        <activity android:name=".admin.SelectSheetTable" />
        <activity android:name=".admin.SelectSheetName" />
        <activity android:name=".admin.SelectSheetListView" />
        <activity android:name=".admin.AdminPageActivity" />
        <activity android:name=".purchaseList.TopActivity"/>
        <activity android:name=".SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>